body{
    background-color: gray;
}
.back-btn{
    cursor:pointer;
    text-decoration: none;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 30px;
    top: 10px;
}
.back-btn:hover{
    color: rgb(163, 88, 88);
}
.admin-container{
    position: relative;
    top: 10px;
    left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.admin-container ul, .admin-container li{
    list-style: inside;
}