body{
    background-color: gray;
}
.back-btn{
    cursor:pointer;
    text-decoration: none;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 30px;
    top: 10px;
}
.back-btn:hover{
    color: rgb(163, 88, 88);
}
.admin-container{
    position: relative;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.admin-container ul, .admin-container li{
    list-style: inside;
}

.drops{
    width: 300px;
}

.drops button,.new-movie-time{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(139, 79, 79);
    text-decoration: none;
    border: none;
    background-color: unset;
    font-size: 15px;
    cursor: pointer;
}
.content button:hover, .new-movie-time:hover {
    color: rgb(43, 22, 22);
}
.content button:focus { 
    outline: none; 
}
.drops .collapsible {
    background-color: rgb(61, 61, 61);
    color: rgb(139, 139, 139);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.drops .collapsible:hover {
    background-color: rgb(90, 90, 90);
}
.drops h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;       
}
.drops .content {
    text-align: left;
    padding: 7px;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 30%;
    background-color: #9b9b9b;
}
.drops .specialbutton{
    color: rgb(187, 224, 168);
}
.seat{
    width: 10px;
    height: 10px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}
.seat-empty{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.showroomoverlay{
    z-index: 5;
    background-color:rgb(199, 199, 199);
    position: absolute;
    right: 20%;
    top: 10%;
    width: min-content;
    height: min-content;
    border: 1px solid rgb(172, 172, 172);
    padding: 1px;
}
.showroomoverlay:target{
    display: block;
}
#canvas{
    background-color: black;
    height: 5px;
    margin: 25px;
}
.seats-in-table{
    margin: 25px;
    margin-top: 0;
    width: min-content;
}

.movieoverlay{
    background-color:rgb(184, 184, 184);
    border-radius: 15px;
    top: 10%;
    position: absolute;
    cursor: move;
    padding: 15px;
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.movieoverlay:target{
    display: block;
    visibility: visible;
    z-index: 5; 
}

.thebigblock{
    background-color: rgb(61, 61, 61);
    position: absolute;
    width: 300px;
    left: 0;
    top:0;
    z-index: -10;
    height: 100%;
}

.create-user, .create-movie, .create-room, .create-mv-times{
    background-color:rgb(184, 184, 184);
    border-radius: 15px;
    top: 10%;
    position: absolute;
    right: 10%;
    padding: 15px;
    visibility: hidden;
    overflow: hidden;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-user:target{
    display: block;
    visibility: visible;
    z-index: 5;
}

.create-movie:target{
    display: block;
    visibility: visible;
    z-index: 5;
}

.create-mv-times{
    display: block;
    visibility: visible;
    z-index: 5;
    width: max-content;
}

.create-room:target{
    display: block;
    visibility: visible;
    z-index: 5;
}

.create-movie form, .create-user form, .create-room form, .create-mv-times form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.ipf{
    margin: 10px 5px 10px;
    text-align: center;
}

.ipf {
    width: 100%;
    padding: 7px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.ipf[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ipf[type=submit]:hover {
    background-color: #45a049;
}

.ipf[type=file]{
    border: none;
}
textarea.ipf{
    resize: vertical;
    max-height: 300px;
    min-height: 35px;
}
#reservations{
    display: none;
    background-color:rgb(184, 184, 184);
    border-radius: 15px;
    top: 15%;
    position: absolute;
    left: 25%;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#reservations:target{
    display: block;
}

.errors-container{
    z-index: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 10%;
    position: absolute;
    left: 25%;
    color: red;
}