body{
    background-color: gray;
}
.dashboard{
    display: flex;
    flex-direction: row;
}
.moviediv img{
    width: 100%;
    height: 100%;
}
.moviediv{
    width: 195px;
    height: 285px;
    text-align: center;
    margin: 10px;
    margin-right: 2px;
    border-radius: 5px;
    border: none;;
    object-fit: cover;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(201, 201, 201);
}
.moviediv:hover{
    opacity: 0.75;
}


